* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);

}

.clock {
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.7);
    height: 24vh;
    border-radius: 12px;
    padding: 20px;
}

.clock h1 {
    font-size: 3.5rem;
    font-weight: 600;

}

.clock span {
    position: relative;
    top: -13%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:400px) {
    .clock {
        max-width: 260px;
        padding: 5px;
    }

    .clock h1 {
        font-size: 2.6rem;
    }
}